<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <a v-bind:href="link">Google</a>
    </div>

    <script>
        new Vue({
            el: '#app',
            data:{
                message: 'Hello World!!!'
            }
        });
        new Vue({
            el: '#app2',
            data:{
                link: 'https://google.com'
            }
        });
    </script>
</body>

</html>