<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="Frist name" v-model="person.fristname"><br>
        <input type="text" placeholder="Last name" v-model="person.lastname"><br>
        <input type="text" placeholder="Age" v-model="person.age"><br>

        <input type="radio" id="male" value="Male" v-model="person.gender">
        <label for="male">Male</label>
        <br>
        <input type="radio" id="female" value="Female" v-model="person.gender">
        <label for="female">Female</label>
        <br>

        <input type="checkbox" id="dog" value="Dog" v-model="person.pets">
        <label for="dog">Dog</label>
        <input type="checkbox" id="cat" value="Cat" v-model="person.pets">
        <label for="cat">Cat</label>
        <input type="checkbox" id="brid" value="Brid" v-model="person.pets">
        <label for="brid">Brid</label>
        <br>

        <select v-model="person.role">
            <option value="" disabled>--Select role--</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <br>
        <span>{{ person }}</span>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                person: {
                    fristname: '',
                    lastname: '',
                    age: '',
                    gender: '',
                    pets: [],
                    role: '',
                }
            }
        });
    </script>
</body>

</html>